<div class="row contentHeader">
	<div class="col-xs-12">
		<i class="fa fa-archive cntHeaderIcon"></i>Archives
	</div>
	<!-- /.col-lg-6 -->
</div>
<div class="col-xs-11 noteBox">
	<div class="row">
		<div class="col-xs-8">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-search"></i></span>
				<input type="search" class="form-control" placeholder="Search" ng-model="archiveSearch">

			</div>
		</div>
		<div class="col-xs-4 text-right">
			<button type="button" class="btn btn-default" id="exportArchiveBtn"><i class="fa fa-download"></i> export archives</button>
		</div>
	</div>
	
	<br>
	<div id="details">
	<ul class="list-group">
		<li  ng-repeat="archive in archives | filter:archiveSearch | orderBy: archive.taskDate" class="list-group-item clearfix">
			<h4 class="list-group-item-heading">{{archive.taskDate}}</h4> 
			<div class="pull-right">
				<small>Completed on:</small> <span class="label label-default">{{archive.taskDate}}</span> <a ng-click="deleteArchive($index)"><span class="label label-danger">DELETE</span></a>
			</div>
			<div ng-bind-html="SkipValidation(archive.archiveName)"></div>
			<div class="bs-callout bs-callout-info" ng-show="archive.relatedAIs.length >0">
			Related Action Item(s):
				<span ng-repeat="ais in archive.relatedAIs"><a href="#/ai/{{ais}}" target="_blank">{{ais}}<a> </span>
			</div>
		</li>
	</ul>
	</div>
</div> 