<div class="row">
    <ul class="nav  nav-stacked">

        <li><a href="#"  ng-class="{ active: isActive('/') }"><i class="fa fa-tasks"></i> Action Items</a></li>
        <li><a href="#/search"  ng-class="{ active: isActive('/search') }"><i class="fa fa-search"></i> Advanced Search</a></li>
        <li><a href="#/notes" ng-class="{ active: isActive('/notes') }"><i class="fa fa-pencil-square-o"></i> Notes</a></li>
        <li><a href="#/archives" ng-class="{ active: isActive('/archives') }"><i class="fa fa-archive"></i> Archives</a></li>
    </ul>
</div>
